<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

      <section id="home">
        <div class="container" id='home-card'>
          <div class="card mb-3 bg-transparent border-rounded">
            <div class="row g-0">
              <div class="col-md-8">
                <p id="title-card">Sharper, Smarter, Confident Classes</p>
              </div>
              <div class="col-md-4" id="user-img">
                <img src="../static/rana1.jpeg" class="img-fluid rounded-start" alt="head">
              </div>
            </div>
          </div>
        </div>
        <div class="tilt">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
          </svg>
        </div>
      </section>

      <!-- Back to top button -->
      <button type="button" class="btn btn-success btn-floating btn-lg" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
      </button>


      <section id="about">
        <div class="tilt2">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
          </svg>
        </div>

        <div class="container" id="about-head">
          <div class="row">
            <div class="col">
              <img src="../static/person.jpg" alt="teacher">
              <h5>Experienced educator</h5>
            </div>
            <div class="col">
              <img src="../static/class.jpg" alt="">
              <h5>Good teaching aids and facilities</h5>
            </div>
            <div class="col">
              <img src="../static/clock.png" alt="">
              <h5>Timely completion of syllabus</h5>
            </div>
          </div>
        </div>
        <div class="container" id="about-card" style="padding-bottom: 2em;">
          <h2>About</h2>
          <div class="card mb-3 my-5" id="vision">
            <div class="row g-0">
              <div class="col-md-4" id="vision-img">
                <img src="../static/vision2.jpg" alt="vision" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body" id="vision-notes">
                  <h4>Vision:</h4>
                  <p>To pursue excellence in students by delivering quality education through efficient and easy
                    learning
                    methods</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="card mb-3" id="mission">
            <div class="row g-0">
              <div class="col-md-4" id="mission-notes">
                <img src="../static/lens-1209823_640.jpg" alt="vision" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body" id="mission-notes">
                  <h4>Objective:</h4>
                  <p>To give affordable quality education and help the students gain confidence irrespective of their
                    previous
                    track records.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tilt">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
          </svg>
        </div>
      </section>

      <section id="academics" class="yellow">
        <div class="container" id="academics-card" style="padding-top:2em">
          <h2 class="my-2">What we offer..</h2>
          <div class="row my-5">
            <div class="col">
              <div id="academics-card1">
                <h3>From Classes 6 to 10</h3>
                <ul>
                  <li>Mathematics</li>
                  <li>Science</li>
                  <li>Social Science</li>
                  <li>Computer Science</li>
                </ul>
                <h3>For HS first year</h3>
                <ul>
                  <li>Geography</li>
                  <li>Economics</li>
                  <li>Physics</li>
                </ul>
                <h3>Additionally guidance for:</h3>
                <ul>
                  <li>SSC CGL</li>
                  <li>RRB NTPC</li>
                  <li>PAT</li>
                  <li>Spoken English</li>
                </ul>
              </div>
            </div>

            <div class="col">
              <div id="academics-card2">
                <h2>Teachers and educators</h2>
                <ul>
                  <li>
                    <ul class="edulist">
                      <li>Mr. R. Borah</li>
                      <li>M.Tech, B.Tech</li>
                    </ul>
                  </li>
                  <li>
                    <ul class="edulist">
                      <li>Mr. K. Sonowal</li>
                      <li>MBA</li>
                    </ul>
                  </li>
                  <li>
                    <ul class="edulist">
                      <li>Mr. A. Handique</li>
                      <li>B.E.</li>
                    </ul>
                  </li>
                  <li>
                    <ul class="edulist">
                      <li>Mr. D. Baruah</li>
                      <li>M.Tech, B.E.</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tilt3">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
          </svg>
        </div>

      </section>

      <hr>

       <!-- BLOG -->
    <section id="blog" class="mt-5 container">
      <h1 class="mb-4" style="text-align: center">Blogs</h1>
      <% if(blog.length> 0){ %>
        <% for (let i=blog.length-1; i>=blog.length-3; i--){ %>
          <h4 class="title fs-2"><%= blog[i].blogTitle %></h4>
          <p class="text-danger"><%= blog[i].createdAt.toLocaleDateString() %></p>
          <p class='Snippet fst-italic fw-semibold fs-5'><%= blog[i].blogSnippet %></p>
          <a href="/blogs/<%= blog[i]._id%>" class="single">
            <button class="btn btn-primary">Read more</button>
          </a>
          <hr>
        <% } %>
        <% } %>
      <div class="container d-flex justify-content-center">
        <a class="btn btn-secondary" href="/blog.ejs">All articles</a>
      </div>
    </section>

    <hr class="w-75 mx-auto fs-bold text-danger">

      <section id="testimonials" class="mx-auto">
        <div class=" container col justify-content-center my-5" id="testimonials-card">
          <h2>Student testimonials</h2>
          <div class="card mb-3 border-light">
            <div class="row g-0">
              <div class="col-md-4 my-2">
                <img src="../static/aditya.jpeg" class="img-fluid rounded-circle" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>"My experience at S.S.S.C. is great and memorable. The teachers helped me to enhance my academic
                    and
                    interpersonal skills. I am thankful for the guidance provided to me to ace my examination."</p>
                  <h5>-Aditya</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 border-light">
            <div class="row g-0">
              <div class="col-md-4 my-2">
                <img src="../static/Mitali.jpeg" class="img-fluid rounded-circle" alt="Darshana Paul">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>" I thank S.S.S.C for providing me with the essential guidance to overcome my difficulties in
                    verbal
                    and non-verbal reasoning."</p>
                  <h5>-Darshana Paul</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 border-light">
            <div class="row g-0">
              <div class="col-md-4 my-2">
                <img src="../static/prasanta.jpeg" class="img-fluid rounded-circle" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>"I cann't thank enough to my teachers for their guidance and teaching. I always had difficulties in
                    few of my
                    subjects. But SSSC helped me to learn them and gain their core concepts."</p>
                  <h5>-Prasanta Deka</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 border-light">
            <div class="row g-0">
              <div class="col-md-4 my-2">
                <img src="../static/pankaj.jpeg" class="img-fluid rounded-circle" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>"The care about how we are doing in the class and whether we are able to grasp the concepts, rather than just hand out information and let the students absorb it however we want"</p>
                  <h5>-Pankaj</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 border-light">
            <div class="row g-0">
              <div class="col-md-4 my-2">
                <img src="../static/Kid.jpeg" class="img-fluid rounded-circle" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>"I was struggling with Mathematics. SSCC helped me to acquire the core concepts and gain enough confidence that I was able to compete in Maths Olympiad."</p>
                  <h5>-S. Paul</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section id="contact" class="white">
        <div class="card-group mb-5">
          <div class="card bg-primary">
            <div class="card-body">
              <div class="col-sm-8">
                <div class="card border-primary">
                  <div class="card-body contact-card bg-primary">
                    <h3 class="my-3">Contact Us:</h3>
                    <h5>East Chowkidinghee</h5>
                    <h5>Near V.K.V School</h5>
                    <h5>Dibrugarh, Assam</h5>
                    <h5 class="my-3"><span style="color: yellow">Contact:</span> +91-9436747617</h5>
                    <h5 class="my-3"><span style="color: yellow">Email:</span> ranacharyaborah@gmail.com</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-primary">
            <div class="card-body">
              <h3 class="my-3" style="color: yellow; text-align: center;">Have a query? Leave a message.
              </h3>

              <form action='/query' method='POST'>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name='name' aria-describedby="nameHelp">
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Phone</label>
                  <input type="text" class="form-control" id="phone" name='phone' aria-describedby="phoneHelp">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="queryTextarea">Message</label>
                  <textarea class="form-control" id="message" rows="3" name='message'></textarea>
                </div>
            </div>
            <button type="submit1" class="btn btn-warning my-3 mx-3">Submit</button>
            </form>
          </div>
        </div>
      </section>

      <%- include('./partials/footer.ejs') %>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
        <script>
          //Get the button
          let mybutton = document.getElementById("btn-back-to-top");

          // When the user scrolls down 20px from the top of the document, show the button
          window.onscroll = function () {
            scrollFunction();
          };

          function scrollFunction() {
            if (
              document.body.scrollTop > 20 ||
              document.documentElement.scrollTop > 20
            ) {
              mybutton.style.display = "block";
            } else {
              mybutton.style.display = "none";
            }
          }
          // When the user clicks on the button, scroll to the top of the document
          mybutton.addEventListener("click", backToTop);

          function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
          }
        </script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>

</html>